@tailwind base;
@tailwind components;
@tailwind utilities;

.rendering-auto {
  image-rendering: auto;
}
.rendering-crisp-edges {
  image-rendering: crisp-edges;
}
.rendering-pixelated {
  image-rendering: pixelated;
}

.logo {
  icon: url(../assets/orangesphere_web.gif);
}

.brand {
  icon: url(../assets/desolverbold_web.gif);
}
